.h105{
    height: 105px;
}

.animated1 {
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
}
.animated2 {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}
.animated3 {
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}
.animated4 {
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
}

.animated5 {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.animated6 {
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
}
.animated7 {
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
}

.animated8 {
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
}

.animated2s {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

header {
    width: 100%;
    height: 105px;
    background-image: url('../../assets/images/Index/nav_bg.png');
    background-size: cover;
    min-width: 1200px;
    position: absolute;
    z-index: 11;
    
}

.logo {
    width: 168px;
    height: 105px;
    line-height: 105px;
    margin-left: 104px;
    float: left;
}

.logo img {
    margin-top: 30px;
}

.menu {
    float: left;
    margin-left: 50px;
    height: 105px;
    line-height: 105px;
}

.menu ul li {
    float: left;
}

.menu_list{
    height: 166px;
    background: linear-gradient(to right,#003daf,#0f7bff);
    position: absolute;
    top: 105px;
    width: 100%;
    z-index: 10;
}

.menu_list .row{
    padding:40px 0 40px 382px;
    max-width: 232px;
}

.menu_list .row a{
    min-width: 114px;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    line-height: 30px;
}

.menu_list .about_list{
    padding-left:386px;
}

.menu_list .join_list{
    padding-left:468px;
}

.menu_list .contact_list{
    padding-left:552px;
}


.menu ul li:not(:first-child) {
    margin-left: 36px;
}

.search {
    float: right;
    margin-right: 106px;
    height: 105px;
    line-height: 105px;
}

.search ul li {
    float: left;
}

ul li a {
    color: white;
}


.divimg7 img {
    width: 100%;
}

.divimg7 {
    width: 100%;
    height: 300px;
    background-color: white;
    padding-bottom: 80px;
}

.table3 {
    width: 100%;
    max-width: 1270px;
    border-collapse: separate;
    border-spacing: 20px 10px;
    margin: 0px auto;
}

.divimg7 .ttd td {
    text-align: center;
    font-size: 14px;
    color: #666666;
    line-height: 24px;
}

.divimg7 .ttd span{
    font-weight: 700;
}



footer {
    width: 100%;
    height: 480px;
}

footer .info {
    width: 100%;
    height: 264px;
    border-top: 1px solid #b5b5b5;
    padding-top: 30px;
    background-color: white;
}

footer .info .fdiv1 {
    width: 30%;
    float: left;
    margin-left: 108px;
}

.fdiv1 .lmail {
    float: left;
    margin-top: 70px;
    border-bottom: 1px solid #b5b5b5;
    width: 80%;
    font-size: 24px;
    line-height: 32px;
}

footer .info .fdiv2 {
    width: 20%;
    float: left;
}

footer dd,
footer dd a {
    color: #4D4D4D;
}

.fdiv2 dd {
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    font-weight: 700;
}


footer .info .fdiv3 {
    width: 20%;
    float: left;
}

.fdiv3 dd {
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    font-weight: 700;
}

footer .info .fdiv4 {
    width: 20%;
    float: left;
}

.fdiv4 dd {
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    width: 90%;
    font-weight: 700;
}

footer .info2 {
    width: 100%;
    height: 145px;
    background: linear-gradient(to right, #003daf, #0f7bff);
    padding-top: 80px;
}

footer .info2 .tinfo2 {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}

.info2 .tinfo2 td {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.tinfo2 td img {
    vertical-align: middle;
    text-align: center;
}

.info2 .tinfo2 td:not(:last-child) {
    border-right: 1px solid white;
}


