  body {
      background-color: #ffffff;
  }

  .lcontent {
      position: absolute;
      top: 208px;
      left: 11%;
      width: 80%;
      height: 684px;
      max-width: 1484px;
      background-color: white;
      z-index: 99;
      padding: 60px 0px;
  }

  .lcontent .login {
      width: 49%;
      height: 100%;
      float: left;
      border-right: 1px solid #666666;
  }

  .lcontent .reg {
      width: 50%;
      height: 100%;
      margin-left: 68px;
      display: inline-block;
  }

  .lcontent .ltitle {
      font-size: 26px;
      color: #666666;
      height: 36px;
      line-height: 36px;
  }

  .lcontent .lltitle {
      font-size: 14px;
      color: #666666;
      line-height: 34px;
      margin-top: 15px;
  }

  .lcontent .linput {
      font-size: 14px;
      color: #4d4d4d;
      font-weight: 700;
      line-height: 72px;
      border-bottom: 1px solid #666666;
      width: 90%;
      height: 82px;
  }

  .lcontent .linput span {
      color: #005AFF;
      font-size: 14px;
  }

  .lcontent .linput .input {
      border: none;
      font-size: 14px;
  }

  .lcontent .lforget {
      width: 90%;
      font-size: 14px;
      color: #4d4d4d;
      margin-top: 40px;
  }

  .lforget .left {
      float: left;
      font-weight: 700;
  }

  .lforget .right {
      float: right;
  }

  .lcontent .lbtn {
      margin-top: 120px;
      height: 34px;
      line-height: 34px;
      width: 90%;
      text-align: right;
  }

  .lcontent .lbtn .btn {
      border: 1px solid #4d4d4d;
      background-color: #ffffff;
      border-radius: 1px;
      color: #4d4d4d;
      height: 34px;
      width: 104px;
      font-size: 14px;
      font-weight: 700;
  }